{% extends 'blogapp/base.html' %}

{% load static%}
{% block content %}
    <div class="login-content">
        <div class="container">
            
                <h2>Login</h2>
                {% if form.errors %}
                <p>Something's wrong with what you've entered</p>
                {% endif %}

                {% if next %}
                <p> you cannot access the page </p>
                {% endif %}

                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                
                    {{form.as_p}}
                
                    <p><input type="submit" value="login"></p>
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            
        </div>
    </div>

{% endblock %}
