{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="icon" href="{% static 'img/logo.png'  %}">
    <link type="text/css" href="{% static 'css/style.css'  %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="register-section">
    <h2>Edit Profile</h2>
    <form method="POST">
        {% csrf_token %}

        {% if form.errors %}
        <p>There is something wrong with the form</p>
        {% endif %}

        {{ form.as_p }}

        <input  class="nav-btn" type="submit" value="Update">
    </form>
    
</body>
</html>