body{
    margin: 0;
}

.position-left{
    left: 0;
}

.position-right{
    right: 0;
}

.small-banner{
    height: 350px !important;
}

.content-wrapper{
    background-color: #2e3b4b;
    width: 100%;
    height: 550px;
    margin : -20px 0;
}

.text-wrap{
    float: left;
    margin: 10px;
}

.intro-header{
    position: relative;
    width: 70%;
    margin: 10px auto ;
    height: 500px;
    position: relative;
    opacity: 0.8;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 7px 0 rgba(105, 105, 105, 1);
    
}

.intro-header .layer{
    background-image: linear-gradient(90deg, black, transparent);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content-wrapper .intro-header .layer .navigation{
    position: absolute;
    font-size: 15px;
    right: 0;
    outline: none;
    background-color:#96577a ;
    color: white;
    border: none;
    padding: 20px;
    width: 100%;
    text-align: right;
}
.content-wrapper .intro-header .layer .navigation a{
    text-decoration: none;
    font-size: 12px;
    margin-right: 20px;
    padding: 20px;
}

/* .nav-btn{
    font-size: ;
} */


.content-wrapper .intro-header .layer .navigation a:hover{
    background-color: #2e3b4b;
    border: 1px solid pink;
    color: pink;
}



.content-wrapper .intro-header .layer .navigation a:focus{
    outline: none;
}

.intro-header .site-heading{
    position: absolute;
    top: 250px;
    left: 250px;
    font-size: 40px;
    color: #ffffff;
}

.intro-header .back-button{
    padding: 10px;
}

.container{
    width: 70%;
    margin: 0 auto;
}

.blog-section{
    background-color: #344152;
}

.blog-section .post-preview{
    background-color:#2e3b4b ;
    padding: 20px;
}

.blog-section .post-preview a{
    text-decoration: none;    
}

.blog-section .post-preview a h2{
    color: #96577a;
}

.blog-section .post-preview  h3{
    color: lightgray;
}

.blog-section .post-preview p{
    color: #96577a;
}

.blog-section .post-info .btn{ 
    outline: none;
    background-color:#96577a ;
    color: white;
    border: none;
    padding: 10px 20px;
}

.post-subtitle{
    font-size: 16px;
    text-align: justify;
}

.category-section{
    background: #2e3b4b;
    margin: -30px 0;
    padding-bottom: 15px;
}

.category-section .blog-category{
    width: 40%;
    margin: 30px auto;
    font-size: 30px;
}

.blog-category a{
    display: inline;
    font-size: 30px;
    text-decoration: none;
    color: #96577a;

}


/* footer css */

footer{
    background-color: #96577a;
      padding: 30px;
      margin-top: -15px;
    }

footer p{
    color: #ffffff;
}

footer img{
    height: 30px;
}